In [31]:
import pandas as pd
from sqlalchemy import create_engine
from config import password

#### Transform country quality of life dataset

In [7]:
#Import Country quality of life dataset
country_qol_file = "Resources/country_quality_of_life_score_data.csv"
country_qol_df = pd.read_csv(country_qol_file)

#Rename column names
country_qol_df.columns=['country_name','todrop','quality_of_life_index']

In [8]:
#Delete unwanted column
del country_qol_df['todrop']

In [14]:
#Create an ID
country_qol_df= country_qol_df.reset_index()

In [15]:
#Rename column names
country_qol_df.columns=['id','country_name','quality_of_life_index']
country_qol_df

      id                country_name  quality_of_life_index
0      0                      Canada             159.511902
1      1                       Japan             165.326905
2      2                      Norway             173.158166
3      3                     Ireland             153.182191
4      4                     Hungary             135.343937
..   ...                         ...                    ...
110  110               Cote d'Ivoire              24.341801
111  111                     Morocco             106.065829
112  112                     Nigeria              53.089911
113  113  Kingdom of the Netherlands             182.535902
114  114                Danish Realm             188.635667

[115 rows x 3 columns]

#### Transform corruption perception index (CPI) dataset

In [16]:
#Import corruption perception index (CPI) dataset
corruption_perp_file = "Resources/corruption_perception_index_dataset.csv"
corruption_perp_df = pd.read_csv(corruption_perp_file)
corruption_perp_df

,Country,ISO3,Region,CPI 2020,CPI 2019,Change in scores 2019-2020,CPI rank 2020,CPI rank 2019,Change in rank 2019-2020,Standard error 2020,...,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53
0,Maldives,MDV,AP,43,29,14,75,130,-55,7.69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Armenia,ARM,ECA,49,42,7,60,77,-17,3.50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kazakhstan,KAZ,ECA,38,34,4,94,113,-19,3.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,AP,19,16,3,165,173,-8,2.44,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ukraine,UKR,ECA,33,30,3,117,126,-9,1.31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,Iceland,ISL,WE/EU,75,78,-3,17,11,6,3.86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,Lebanon,LBN,MENA,25,28,-3,149,137,12,1.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,Vanuatu,VUT,AP,43,46,-3,75,64,11,3.59,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,Comoros,COM,SSA,21,25,-4,160,153,7,5.75,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,Suriname,SUR,AME,38,44,-6,94,70,24,1.69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
#Filtered only columns required
corruption_perp_df= corruption_perp_df[['Country','CPI 2020','CPI rank 2020']]
corruption_perp_df

         Country  CPI 2020  CPI rank 2020
0       Maldives        43             75
1        Armenia        49             60
2     Kazakhstan        38             94
3    Afghanistan        19            165
4        Ukraine        33            117
..           ...       ...            ...
175      Iceland        75             17
176      Lebanon        25            149
177      Vanuatu        43             75
178      Comoros        21            160
179     Suriname        38             94

[180 rows x 3 columns]

In [19]:
#Create an ID
corruption_perp_df= corruption_perp_df.reset_index()

In [21]:
#Rename column names
corruption_perp_df.columns=['id','country_name','cpi_2020','cpi_rank_2020']
corruption_perp_df

      id country_name  cpi_2020  cpi_rank_2020
0      0     Maldives        43             75
1      1      Armenia        49             60
2      2   Kazakhstan        38             94
3      3  Afghanistan        19            165
4      4      Ukraine        33            117
..   ...          ...       ...            ...
175  175      Iceland        75             17
176  176      Lebanon        25            149
177  177      Vanuatu        43             75
178  178      Comoros        21            160
179  179     Suriname        38             94

[180 rows x 4 columns]

#### Transform happiness index dataset

In [26]:
#Import happiness index dataset
happiness_file = "Resources/happiness_index_data.csv"
happiness_df = pd.read_csv(happiness_file)
happiness_df

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,Central African Republic,Sub-Saharan Africa,3.4759,0.115183,3.701658,3.250141,6.625160,0.319460,45.200001,0.640881,0.082410,0.891807,1.972317,0.041072,0.000000,0.000000,0.292814,0.253513,0.028265,2.860198
149,Rwanda,Sub-Saharan Africa,3.3123,0.052425,3.415053,3.209547,7.600104,0.540835,61.098846,0.900589,0.055484,0.183541,1.972317,0.343243,0.522876,0.572383,0.604088,0.235705,0.485542,0.548445
150,Zimbabwe,Sub-Saharan Africa,3.2992,0.058674,3.414202,3.184198,7.865712,0.763093,55.617260,0.711458,-0.072064,0.810237,1.972317,0.425564,1.047835,0.375038,0.377405,0.151349,0.080929,0.841031
151,South Sudan,Sub-Saharan Africa,2.8166,0.107610,3.027516,2.605684,7.425360,0.553707,51.000000,0.451314,0.016519,0.763417,1.972317,0.289083,0.553279,0.208809,0.065609,0.209935,0.111157,1.378751
152,Afghanistan,South Asia,2.5669,0.031311,2.628270,2.505530,7.462861,0.470367,52.590000,0.396573,-0.096429,0.933687,1.972317,0.300706,0.356434,0.266052,0.000000,0.135235,0.001226,1.507236

In [27]:
happiness_df= happiness_df[['Country name','Ladder score','Logged GDP per capita','Social support','Healthy life expectancy',
                                       'Freedom to make life choices','Generosity','Perceptions of corruption']]
happiness_df

,Country name,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,7.8087,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445
1,Denmark,7.6456,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489
2,Switzerland,7.5599,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728
3,Iceland,7.5045,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710
4,Norway,7.4880,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218
...,...,...,...,...,...,...,...,...
148,Central African Republic,3.4759,6.625160,0.319460,45.200001,0.640881,0.082410,0.891807
149,Rwanda,3.3123,7.600104,0.540835,61.098846,0.900589,0.055484,0.183541
150,Zimbabwe,3.2992,7.865712,0.763093,55.617260,0.711458,-0.072064,0.810237
151,South Sudan,2.8166,7.425360,0.553707,51.000000,0.451314,0.016519,0.763417
152,Afghanistan,2.5669,7.462861,0.470367,52.590000,0.396573,-0.096429,0.933687

In [28]:
#Create an ID
happiness_df= happiness_df.reset_index()

In [29]:
#Rename column names
happiness_df.columns=['id','country_name','ladder_score','gdp_per_capita',
                      'social_support','healthy_life_expectancy',
                      'freedom_to_make_life_choices','generosity',
                      'perceptions_of_corruption']
happiness_df

,id,country_name,ladder_score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,0,Finland,7.8087,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445
1,1,Denmark,7.6456,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489
2,2,Switzerland,7.5599,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728
3,3,Iceland,7.5045,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710
4,4,Norway,7.4880,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218
...,...,...,...,...,...,...,...,...,...
148,148,Central African Republic,3.4759,6.625160,0.319460,45.200001,0.640881,0.082410,0.891807
149,149,Rwanda,3.3123,7.600104,0.540835,61.098846,0.900589,0.055484,0.183541
150,150,Zimbabwe,3.2992,7.865712,0.763093,55.617260,0.711458,-0.072064,0.810237
151,151,South Sudan,2.8166,7.425360,0.553707,51.000000,0.451314,0.016519,0.763417
152,152,Afghanistan,2.5669,7.462861,0.470367,52.590000,0.396573,-0.096429,0.933687

### Load dataset into PostgreSQL

#### Create database connection

In [32]:
#Create database connection
connection_string = f"postgres:{password}@localhost:5432/quality_of_life_db"
engine = create_engine(f'postgresql://{connection_string}')

In [34]:
# Confirm tables
engine.table_names()

<ipython-input-34-2d97e9123e98>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['quality_of_life_index', 'corruption_perp', 'happiness']

#### Load DataFrames into database

In [36]:
#Load country quality of life dataset into PostgreSQL
country_qol_df.to_sql(name='quality_of_life_index', con=engine, if_exists='append', index= False)

In [37]:
#Load corruption perception index (CPI) dataset into PostgreSQL
corruption_perp_df.to_sql(name='corruption_perp', con=engine, if_exists='append', index= False)

In [38]:
#Load happiness index dataset into PostgreSQL
happiness_df.to_sql(name='happiness', con=engine, if_exists='append', index= False)